* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #F8E006;
	color: #fff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

nav {
	float: right;
  margin-top: -50px; 
}

nav ul {
	list-style: none;
}

nav ul li {
	float: left;
	margin-left: 20px;

}

nav ul li a {
	color: #fff;
	text-decoration: none;
  font-size: 20px;  
}

section {
	background-color: #fff;
	padding: 50px 0;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}

@media (max-width: 768px) {
	
	.container {
		padding: 0 10px;
	}
  
	.logo {
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}
	
	nav {
		float: none;
		text-align: center;
	}
	
	nav ul {
		display: inline-block;
	}
	
	nav ul li {
		float: none;
		display: inline-block;
		margin-left: 5;
    margin-top: 20px;
    padding-bottom: 10px;
	}
	
}
  /* JUMBOTRON */
 
.jumbotron {
  background-color:grey;
  padding: 5rem;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0.8rem;
}

.jumbotron h1 {
  font-size: 3rem;
}

.jumbotron p {
  font-size: 35px;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}


.btn-primary {
  background-color: blue;
  color: #fff;
  border-color: #007bff;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  
}

/* alasan kuliah di aic*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 10px;
 
}

.gallery-item {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border-radius: 25px;

}

.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.gallery-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.gallery-text h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.gallery-text p {
  font-size: 16px;
  margin: 0;
}

h1 {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery-item-card {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  transition: transform 0.5s ease-in-out;
  border-radius: 25px;
}

.gallery-item-card:hover {
  transform: scale(1.1);
}

.gallery-item-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.jumbotron-card {
  background-color:#F0F0F0;
  padding: 5rem;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.8rem;
}

.item-1 {
  background-color: #1c1c1c;
}

.item-2 {
  background-color: #2f2f2f;
}

.item-3 {
  background-color: #3c3c3c;
}

@media screen and (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* BLOG */
.post-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-author {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.post-date {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.read-more {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.read-more:hover {
  background-color: #444;
}